@using YoutubeExplode;
@using YoutubeExplode.Videos;
@using YoutubeExplode.Search;
@using YoutubeExplode.Converter;
@page "/YTPage"

@*
    - currently trying to add button to load more of the list of yt videos
    - do some ui changes
*@

<h3>YTPage</h3>

@if (ErrorMessage != "")
{
    <div>@ErrorMessage</div>
}

<form @onsubmit="SearchYT" @formname="YTSearch">
    <input type="text" @bind-value="userInput" />
    <button type="submit">Submit</button>
</form>

@if (VideoList is not null)
{
    int CurrLimit = 0;
    foreach (var item in VideoList)
    {
        if (CurrLimit > limit)
        {
            break;
        }
        <div class="d-flex flex-row mb-3">
            <div class="col mr-1">
                <img class="h-100 w-100" src="@item.Thumbnails[0].Url" alt="some youtube video" loading="lazy"/>
            </div>
            <div class="col ml-1">
                <div><strong>@if (item.Title.Length > 40) { @item.Title.Substring(0,40) } else{ @item.Title}</strong></div>
                <div>@item.Duration</div>
            </div>
        </div>
        CurrLimit++;
    }
    <button @onclick="() => {limit+=10;}">More</button>
}
else
{
    <div>Nothing to see here</div>
}

@code {
    [SupplyParameterFromForm]
    public string? userInput { get; set; } = "";
    public YoutubeClient youtube;
    public IAsyncEnumerable<VideoSearchResult> EnumVideos { get; set; } = null;
    public List<VideoSearchResult> VideoList { get; set; } = null;
    public string ErrorMessage { get; set; } = "";
    public int limit { get; set; } = 10;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        youtube = new YoutubeClient();

    }

    public async Task SearchYT()
    {
        await Task.Run(() =>
        {
            try
            {
                EnumVideos = youtube.Search.GetVideosAsync(userInput);
            }
            catch(Exception e)
            {
                ErrorMessage = e.Message;
            }
        });

        EnumToList();
    }

    public async void EnumToList()
    {
        VideoList = new();

        await foreach (var item in EnumVideos)
        {
            VideoList.Add(item);
            this.StateHasChanged();
        }
    }
}
